.input-container, #submit-btn {
  display: flex;
  flex-direction: row;
  text-align: center;
}

#letter-input {
  margin: 20px 20px;
  padding: 30px 40px;
  border: 2px solid rgb(96, 192, 224);
  width: 30px;
  height: 10px;
}


input:placeholder-shown {
  font-size: 8px;
  display: flex;
  flex-direction: column;
  margin:

}
#submit-btn {
  margin: 0;
  padding: 20px 30px;

}

#playgame-container {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

#playgame-btn {
  
}

#header-text {
  border: 3px solid rgb(21, 81, 142);
  width: 100%;
  height: 100px;
  font-family: 'Bungee Spice';
  color: black;
  text-align: center;
  line-height: 2.5em;
  font-size: 40px;
}

.button-input-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
}

#word-box {
  display: flex;
 
  justify-content: center;
}
.letter-box {
  border: 3px solid rgb(248, 163, 59);
  width: 50px;
  height: 50px;
  margin: 5px;
  line-height: 1.5em;
  font-size: 30px;
  display: flex;
  justify-content: center;
  color:rgb(209, 153, 11);
}