body {
  background-color: rgb(240, 249, 250);
}

.dark-mode {
  background-color: rgb(22, 14, 12);
  color: white;
}
.light-mode {
  background-color: rgb(240, 249, 250);
}

.button-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
}

#submit-btn {
  margin: 0 auto;
  width: 50px;
  height: 30px;
  background-color: rgb(227, 242, 246);
  border: 3px solid rgb(21, 81, 142);
  color: rgb(242, 184, 102);
  font-weight: bold;
  border-radius: 5px;
}


#submit-btn:active {
  background-color: rgb(252, 232, 204);
}

#letter-input {
  font-family: 'Bungee Spice';
  margin: 20px auto;
  border: 3px solid rgb(197, 236, 250);
  background-color: rgb(227, 242, 246);
  width: 50px;
  height: 50px;
  font-size: 40px;
  text-align: center;
  color: rgb(242, 184, 102);
}

#letter-input:focus {
  border-color: rgb(21, 81, 142);
}

#playgame-container {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

#playgame-btn {
  background-color: rgb(227, 242, 246) ;
  color:rgb(242, 184, 102);
  padding: 10px 20px;
  border: 3px solid rgb(21, 81, 142);
  font-weight: bolder;
  border-radius: 55%;
  width: 50px;
  height: 50px;
}

.refresh-img {
  position: relative;
  right: 13px;
  bottom: 3px;
  width: 30px;
}

#header-text {
  border: 3px solid rgb(21, 81, 142);
  width: 100%;
  height: 100px;
  font-family: 'Bungee Spice';
  text-align: center;
  line-height: 2.5em;
  font-size: 40px;
  background-color: rgb(227, 242, 246);
}



#word-box {
  display: flex;
  justify-content: center;
}


.letter-box {
  border: 3px solid rgb(248, 163, 59);
  width: 50px;
  height: 50px;
  margin: 5px;
  line-height: 1.5em;
  font-size: 30px;
  display: flex;
  justify-content: center;
  color:rgb(209, 153, 11);
  font-family: 'Bungee Spice';
}

.life-img {
  width: 40px;
  height: 40px;
}

.lifecount {
  flex-direction: row-reverse;
  border: 2px solid rgb(237, 136, 47);
  padding: 10px 10px;
  margin: 0 10px;
  border-radius: 4px;
  color:rgb(21, 81, 142);
  font-weight: 800;
}

#lifecount-box {
  display: flex;
}